/*------ added to highlight system messages
Useful when conf.py has keep_warnings
*/

.system-message {
    color: red;
    background: yellow;
    padding: 5px ;
}

.system-message p {
    font-size: 12px;
    margin: 10px;
}

.system-message pre {
    color:darkred;
}


.undefined {
    background: yellow;
    color: red;
}

.undefined pre {

}
